@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  background-color: #f8f8ff;
  color: #75ecc4;
  text-align: -webkit-center;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

a, button {
  cursor: pointer;
}